<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a self-taught full-stack web developer with a strong focus on building efficient, scalable web applications. My technical skills span Python, JavaScript, Java, C++, and C#, with a deep understanding of both frontend and backend development. In recent projects, I’ve honed my expertise in React, ExpressJS, and Postgres, and I’m actively seeking an entry-level role where I can continue to grow and contribute to impactful solutions.
            </p>
            <p class="paragraph-text justify-text">
                My programming journey began with MIT’s App Inventor, where I quickly developed my understanding of software creation. Over the years, I’ve expanded my skills across various languages and frameworks, including building projects like a 2D Minecraft clone and an Arduino-controlled car. More recently, I focused on developing web applications with modern technologies like React, which led to my most recent project—a social media platform for movie and TV show ratings and reviews.
            </p>
            <p class="paragraph-text justify-text">
                This application showcases my skills with React for the frontend, ExpressJS for the backend, and Postgres for the database. Users can create accounts, post reviews, and interact with media content, all while leveraging the TMDB API to display dynamic movie and TV show data. The project posed challenges, particularly with client-server communication, API integration, and deployment. However, through problem-solving and iteration, I was able to create a secure, fully functional platform hosted on Render, which taught me a great deal about the nuances of deploying React applications.
                <a href="https://www.ratingly.onrender.com">See Project</a> | <a href="https://github.com/DakotaGagne/Rating_Project_React">See Code on GitHub</a>
            </p>
            <p class="paragraph-text justify-text"><b>
                Working on this project deepened my appreciation for React and its ability to simplify web design. As I integrated it with server, database, and API layers, I realized how much I enjoy the process and how React has the potential to shape the future of web development. This experience solidified my desire to pursue a career where I can continue to build and innovate with modern web technologies.
            </b>
            </p>
        </div>
    </section>
</div>