/*Styles Css*/
body{
	background : none;
  overflow: none;
}

#canvas{
	padding : 0;
  margin : auto;
  display : block;
	width : 100vw;
	height : 100vh;
  top: 0;
  left: 0;
  position: absolute;
	max-height : 800px;
	background : #222222;
}

#options{
	display : none;
	padding : 40px;
	background : black;
	opacity : 0.75;
	border-radius : 30px;
}

#menuClose{
	padding : 40px;
	background : black;
	opacity : 0.75;
	border-radius : 30px;
}

#p1{
	color: white;
}

#p1:hover{
	color  : #BBBBBB;
	cursor: pointer;
}

.menuBTN {
  display : inline;
  padding : 10px;
  opacity : 0.75;
	border : 1px dashed;
	font-weight : bold;
}
.menuBTN:hover {
  display : inline;
  padding : 10px;
  opacity : 1;
}
p::-moz-selection {
  background-color: transparent;
	color : white;
}
span::-moz-selection {
  background-color: transparent;
}
.options {
  position : fixed;
  text-align : center;
  width : auto;
  height : auto;
  cursor : pointer;
  color : white;
  opacity : 0.7;
  background-color : black;
  border-radius : 6px;
  padding : 15px; 
}
.drag {
    position : fixed;
    left : 50px;
    top : 200px;
}
#pH{
	text-decoration : underline;
	font-weight : 800;
}
#pN{
	font-family : Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-style : italic;
}

#confBtn{
	background: transparent;
	border: groove;
	border-radius: 50px;
	color: white;
}

#colPick{
	height: 100px;
	width: 150px;
}

#txtRad, #txtSOI{
	background: transparent;
	border: groove;
	border-radius: 50px;
	color: white;
}

