
body {
	background-image: url("assets/background.jpg");
	background-color: #cccccc;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;

}

#FenInDiv {
	top: 15vh;
	position: relative;
}

#fenIn { 
 	width: 28vw;
}

#EngineOutput {
	color: white;
	position: fixed;
	text-align: left;
	top: 15vh;
	right: 5vw;
	font-size: 1.3vw;
}

#screenParent {
	position: relative;
	text-align: center;
}

/*
*/

#SettingsContainer {
	z-index: 3;
	position: fixed;
	text-align: left;
	top: 15vh;
	left: 5vw;
	color: white;
}

#GameControlsParent {
	position: fixed;
	text-align: right;
	top: 40vh;
	right: 5vw;
}

.btn {
	background-color: #6b2f0e;
	border: black;
	color: white;
	padding: 1.2vw;
	text-align: right;
	text-decoration: none;
	display: block;
	font-size: 1vw;
	font-style: bold;
	font-family: "Times New Roman", Times, serif;
	border-radius: 10%;
	transition-duration: 0.4s;
}

.btn:hover {
	background-color: #a54816;
}

.btn:clicked {
	background-color: #4b210a;
}

.select {
	text-align: center;
	margin-top: 1vh;
	margin-bottom: 2vh;
	background-color: #6b2f0e;
	color: white;
	width: 9vw;
	padding: 1vh;
	border-radius: 15%;
	font-size: 1.2vw;
	font-family: "Times New Roman", Times, serif;
}

.select:hover {
	background-color: #a54816;
}

.settingsBtn {
	background-color: #6b2f0e;
	text-align: center;
	display: block;
	font-style: bold;
	border-radius: 10%;
	transition-duration: 0.4s;
	padding: 1vw;
	color: white;
	border: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9vw;
	text-decoration: none;
}
.settingsBtn:hover {
	background-color: #a54816;
}

.settingsBtn:clicked {
	background-color: #4b210a;
}

#screen {
	position: relative;
	margin-left: "auto";
	margin-right: "auto";
}

#currentFenSpan {
	position: relative;
	top: 16vh;
	color: white;

}






































